.container-post {
      height: 800px;
      max-width: 800px;
      margin: 100px 20%;
      background: white;

}

.container-post h2{
      text-align: center;
      padding-top:0px;
      margin-top: 0px;
      font-size: 30px;
}


.container-post h3{
  padding-bottom: 20px;
  border-bottom: 1px solid #2F4F4F

}

.container-post h4{
      border-bottom: 1px solid #2F4F4F;
      font-style: italic;
      padding-bottom: 20px;
}

.container-post p{
      text-align: left;
      font-style: normal;
      font-size: 20px;
      padding: 20px 30px;
    }
